<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mappers 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- MyBatis中可以面向接口操作数据，要保证两个一致
mapper接口的全类名和映射文件的命名空间（namespace）保持一致
mapper接口中方法的方法名和映射文件中编写SQL的标签的id属性保持一致-->
<mapper namespace="mappers.UserMapper">
    <!--int insertUser();-->
    <insert id="insertUser">
        insert into t_user values(null ,'张三12aasds','123456','123456@qq.com')
    </insert>
    <!--int UpdateUser();-->
    <update id="UpdateUser">
        update t_user set username='张三asd' where id=9
    </update>
   <!-- int DeleteUser();-->
    <delete id="DeleteUser">
        delete from t_user where id = 2
    </delete>
    <!--
    查询的标签select必须设置属性resultType或resultMap，用于设置实体类和数据库表的映射关系
        resultType：自动映射，用于属性名和表中字段名一致的情况
        resultMap：自定义映射，用于一对多或多对一或字段名和属性名不一致的情况
    -->
    <!--User getUserById();-->
    <select id="getUserById" resultType="Bean.User">
        select * from t_user where id=1;
    </select>
    <!--List<User> getAllUser();-->
    <select id="getAllUser" resultType="User">
        select * from t_user
    </select>
</mapper>
